@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* No direct Tailwind utilities for these */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-height: -webkit-fill-available;

  /* Converted using @apply */
  @apply font-sans leading-normal font-normal antialiased flex justify-center items-center;
}

body {
  @apply w-full flex justify-center items-center;
}

#app {
  @apply overflow-hidden;
}